@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Light/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Black/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black/Montserrat-Black.ttf") format("truetype");
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

::-moz-selection {
  background-color: #114232;
  color: #fff;
}

::selection {
  background-color: #114232;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

strong, b {
  font-weight: 600;
}

em {
  font-style: italic;
}

input {
  outline: none;
  font-family: "Montserrat", "Arial";
  font-size: 16px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  outline: none;
  font-family: "Montserrat", "Arial";
  font-size: 16px;
}

button {
  outline: none;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

.d_none {
  display: none !important;
}

body {
  font-size: 16px;
  height: 100%;
  width: 100%;
  position: relative;
  line-height: normal;
  overflow-x: hidden;
  font-family: "Montserrat", "Arial";
  color: #333333;
  background-color: #fff;
}

section, header, .section {
  height: auto;
  position: relative;
  z-index: 10;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(144, 154, 170, 0.5);
  z-index: 90;
}

.breadcrumbs {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 28px;
  margin-bottom: 18px;
}

.breadcrumbs span span a {
  color: #114232;
}

.breadcrumbs span span span a {
  color: #333333;
}

.stripe1 {
  fill: #fff;
}

.theMainLogo {
  width: 290px;
  height: auto;
}

.theBurgerIcon {
  width: 16px;
  height: auto;
}

.theCarretDownIcon {
  width: 16px;
  height: auto;
}

.theSearchIcon {
  width: 22px;
  height: auto;
}

.theQuoteIcon {
  width: 27px;
  height: auto;
}

.thePhoneIcon {
  width: 16px;
  height: auto;
}

.theMailIcon {
  width: 16px;
  height: auto;
}

.theMapMarkerIcon {
  width: 11px;
  height: auto;
}

.thePrintIcon {
  width: 16px;
  height: auto;
}

.theNavLeftIcon,
.theNavRightIcon {
  width: 6px;
  height: auto;
}

.theNavLeftIcon .stripe1,
.theNavRightIcon .stripe1 {
  fill: #C4C4C4;
}

.theNavBottomIcon {
  width: 6px;
  height: auto;
}

.theNavBottomIcon .stripe1 {
  fill: #333333;
}

.thePlainIcon {
  width: 16px;
  height: auto;
}

.thePlainIcon .stripe1 {
  fill: #838383;
}

.theMailBigIcon {
  width: 56px;
  height: auto;
}

.theMailBigIcon .stripe1 {
  fill: #154111;
}

.theArrowLRightIcon,
.theArrowLeftIcon {
  width: 8px;
  height: auto;
}

.theArrowLRightIcon .stripe1,
.theArrowLeftIcon .stripe1 {
  fill: #838383;
}

.theMailMediumIcon {
  width: 48px;
  height: auto;
}

.theMailMediumIcon .stripe1 {
  fill: #154111;
}

.theQuestionIcon {
  width: 9px;
  height: auto;
}

.theQuestionIcon .stripe1 {
  fill: #114232;
}

.theTriangleIcon {
  width: 26px;
  height: auto;
}

.theQuoteTransparentIcon {
  width: 64px;
  height: auto;
}

.theQuoteTransparentIcon .stripe1 {
  fill: #154111;
}

.theQuoteTransparentIcon {
  width: 64px;
  height: auto;
}

.theQuoteTransparentIcon .stripe1 {
  fill: #154111;
}

.theAlertIcon {
  width: 12px;
  height: auto;
}

.theAlertIcon .stripe1 {
  fill: #154111;
}

.theDownloadIcon {
  width: 12px;
  height: auto;
}

.theDownloadIcon .stripe1 {
  fill: #C4C4C4;
}
