//@import "libs"
@import "vars"
@import "fonts"

::placeholder
	color: $white

::selection
	background-color: $accent
	color: #fff

*
	box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

ol, ul
	list-style: none

table
	border-collapse: collapse
	border-spacing: 0

a
	color: inherit
	text-decoration: none
	&:hover
		color: inherit
		text-decoration: none
		opacity: .9

strong, b
	font-weight: 600

em
	font-style: italic

input
	outline: none
	&[type="number"]
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
			-webkit-appearance: none
			margin: 0
		-moz-appearance: textfield
	&[type=number]
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
			-webkit-appearance: none
			margin: 0
	font-family: $default-font
	font-size: 16px

textarea
	outline: none
	font-family: $default-font
	font-size: 16px

button
	outline: none

.alignleft
	display: inline
	float: left
	margin-right: 1.5em
	margin-bottom: 1.5em

.alignright
	display: inline
	float: right
	margin-left: 1.5em
	margin-bottom: 1.5em

.aligncenter
	clear: both
	display: block
	margin-left: auto
	margin-right: auto
	margin-bottom: 1.5em

.d_none
	display: none !important

#overlay
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(144, 154, 170, 0.5)
	z-index: 100

.breadcrumbs
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	line-height: 28px
	margin-bottom: 20px
	span
		span
			a
				color: $accent
			span
				a
					color: $color


//icons
.stripe1
	fill: $white

.theMainLogo
	width: 290px
	height: auto

.theBurgerIcon
	width: 16px
	height: auto

.theCarretDownIcon
	width: 16px
	height: auto

.theSearchIcon
	width: 22px
	height: auto

.theQuoteIcon
	width: 27px
	height: auto

.thePhoneIcon
	width: 16px
	height: auto

.theMailIcon
	width: 16px
	height: auto

.theMapMarkerIcon
	width: 11px
	height: auto

.thePrintIcon
	width: 16px
	height: auto

.theNavLeftIcon,
.theNavRightIcon
	width: 6px
	height: auto
	.stripe1
		fill: $grey_color

.theNavBottomIcon
	width: 6px
	height: auto
	.stripe1
		fill: $color

.thePlainIcon
	width: 16px
	height: auto
	.stripe1
		fill: $grey

.theMailBigIcon
	width: 56px
	height: auto
	.stripe1
		fill: $black_green

.theArrowLRightIcon,
.theArrowLeftIcon
	width: 8px
	height: auto
	.stripe1
		fill: $grey

.theMailMediumIcon
	width: 48px
	height: auto
	.stripe1
		fill: $black_green

.theQuestionIcon
	width: 9px
	height: auto
	.stripe1
		fill: $accent

.theTriangleIcon
	width: 26px
	height: auto

.theQuoteTransparentIcon
	width: 64px
	height: auto
	.stripe1
		fill: $black_green

.theQuoteTransparentIcon
	width: 64px
	height: auto
	.stripe1
		fill: $black_green


.theAlertIcon
	width: 12px
	height: auto
	.stripe1
		fill: $black_green

.theDownloadIcon
	width: 12px
	height: auto
	.stripe1
		fill: $grey_color

.alm-load-more-btn,
.bvi-link-shortcode,
.button
	width: auto
	height: 48px
	background-color: $button_bg
	padding: 0 18px
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	font-size: 14px
	line-height: 17px
	text-transform: uppercase
	color: $white
	cursor: pointer
	border-radius: 4px
	border: 1px solid transparent
	transition: all .3s ease-in-out
	&:hover
		border: 1px solid $button_bg
		background-color: transparent
		color: $button_bg
	&.simple_button
		background-color: $white
		color: $button_bg
		border-color: $button_bg
		&:hover
			background-color: $button_bg
			color: $white
	.bvi-svg-eye
		display: none

.alm-load-more-btn
	background: transparent !important
	color: $accent !important
	border: 1px solid $accent !important
	&:hover
		background: $accent !important
		color: $white !important






.bvi-link-shortcode
	&:hover
		border: 1px solid transparent
		background-color: $button_bg
		color: $white

.menu-item
	&:hover
		color: $black_green

.main_wrapper
	width: 1216px
	margin: 0 auto

body
	font-size: 16px
	height: 100%
	width: 100%
	position: relative
	line-height: normal
	overflow-x: hidden
	font-family: $default-font
	color: $color
	background-color: $white
	padding-top: 96px
	&.show_menu
		.hidden_menu
			left: 0
	&.home
		padding-top: 0
		.top_nav
			color: $white
			background-color: transparent
			.burger
				.theBurgerIcon
					.stripe1
						fill: $white
			.logo_wrapper
				svg
					.stripe1
						fill: $white
			.top_menu_wrapper
				.menu-item
					&:hover
						color: $white
						opacity: .8
					&.current-menu-item
						&:before
							background-color: $white
			.phones_wrapper
				.single_phone_wrapper
					a
					.theCarretDownIcon
						.stripe1
							fill: $white
		&.bg_white
			.top_nav
				background-color: $white
				color: $accent
				a
					&:hover
						color: $accent
						opacity: .8
				svg
					.stripe1
						fill: $accent !important
				.bvi-link-shortcode
					&:hover
						color: $white
				.phones_wrapper
					.hidden_list
						a
							color: $white
							&:hover
								color: $white
	&.search_modal
		.wpdreams_asl_results
			border: 1px solid $grey_color
		.modal_search_wrapper
			top: 0

section, header, .section
	height: auto
	position: relative
	z-index: 10

.resdrg .item .asl_content .asl_desc
	display: none



.top_nav
	width: 100%
	height: auto
	padding: 0 40px
	color: $black_green
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 50
	background-color: $white
	.inner_wrapper
		width: 100%
		height: 96px
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		border-bottom: 1px solid rgba(229, 229, 229, 0.5)
		.burger
			cursor: pointer
			.theBurgerIcon
				.stripe1
					fill: $black_green
		.logo_wrapper
			width: 290px
			height: 40px
			display: block
			svg, img
				width: auto
				height: auto
				max-width: 100%
				max-height: 100%
				.stripe1
					fill: $black_green
		.top_menu_wrapper
			width: auto
			height: auto
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			.menu-item
				margin-right: 40px
				font-weight: bold
				font-size: 14px
				line-height: 17px
				text-transform: uppercase
				position: relative
				&:last-child
					margin-right: 0
				&.current-menu-item
					&:before
						content: ''
						position: absolute
						width: 100%
						height: 2px
						bottom: -10px
						left: 0
						display: block
						background-color: $black_green
		.phones_wrapper
			width: auto
			height: auto
			display: flex
			flex-direction: row
			align-items: center
			position: relative
			padding-right: 20px
			&:hover
				.hidden_list
					display: flex
			.single_phone_wrapper
				position: relative
				padding: 10px 0
				a
				.theCarretDownIcon
					width: 7px
					position: absolute
					top: 50%
					margin-top: -2px
					right: -16px
					.stripe1
						fill: $black_green
			.hidden_list
				position: absolute
				width: 120%
				height: auto
				padding: 12px 8px
				left: 0
				top: 100%
				flex-direction: column
				white-space: nowrap
				background-color: $footer_bg
				display: none
				.single_phone_wrapper
					padding-bottom: 15px
					&:first-child
						padding-top: 0
					&:last-child
						padding-bottom: 0
		.search_button
			width: auto
			height: auto
			cursor: pointer
		.callback
			width: auto
			height: auto
			margin-right: 20px
			display: none
			cursor: pointer
			svg
				width: 22px

.hidden_menu
	position: fixed
	top: 0
	left: -110%
	width: 100vw
	height: 100vh
	overflow: auto
	display: block
	background-color: $white
	z-index: 101
	transition: left .5s ease-in-out
	.hidden_menu_wrapper
		width: 1250px
		margin: 0 auto
		padding: 22px 0
		.top_wrapper
			width: 100%
			height: auto
			display: flex
			flex-direction: row
			align-items: center
			position: relative
			margin-bottom: 22px
			.arrow_left_icon
				position: absolute
				left: -35px
				width: auto
				height: auto
				cursor: pointer
				.theArrowLeftIcon
					width: 20px
					height: auto
			.theMainLogo
				width: 290px
				height: auto
				margin-right: 20px
				.stripe1
					fill: $black_green
			.bvi-link-shortcode
				width: auto
				padding: 0 16px
				display: none
			.close_icon_wrapper
				cursor: pointer
				margin-left: auto
				.theCloseMenuIcon
					width: 20px
					height: auto
					display: block
					.stripe1
						fill: $grey_color
		.search_line
			width: 100%
			height: auto
			display: flex
			flex-direction: row
			justify-content: space-between
			.button
				width: 280px
				height: 56px
		.partners_list
			width: 100%
			height: auto
			display: flex
			flex-direction: row
			flex-wrap: wrap
			a
				display: block
				width: 176px
				height: auto
				margin-right: 20px
				margin-bottom: 20px
				img
					display: block
					width: auto
					height: auto
					max-width: 100%
					max-height: 100%


.footer
	background-color: $footer_bg
	padding-top: 70px
	.line
		width: 95%
		height: 1px
		background-color: rgba(229, 229, 229, 0.24)
		position: relative
		display: block
		margin: 0 auto
		margin-bottom: 10px
	.main_wrapper
		&.bottom
			display: flex
			flex-direction: row
			justify-content: space-between
			color: $grey_color
			height: auto
			padding-bottom: 10px
			align-items: center
			.right_part
				display: flex
				flex-direction: row
				align-items: center
			a
				display: block
				margin-right: 30px
				&:hover
					color: $grey
				&:last-child
					margin-right: 0
		.partners_list
			display: flex
			flex-direction: row
			flex-wrap: wrap
			a
				display: block
				margin-right: 20px
				margin-bottom: 20px
.menu_wrapper
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	justify-content: space-between
	padding: 72px 0 0
	margin-bottom: 100px
	&.footer_menu
		color: $white
		padding: 0
		.menu_column
			.button
				width: 280px
				height: 48px
				background-color: #42454A
				color: $white
				font-size: 12px
				text-transform: uppercase
				margin-bottom: 20px
				position: relative
				left: -30px
				&:hover
					opacity: .8
				svg
					margin-left: 20px
					.stripe1
						fill: $white
			ul
				li
					Color: $grey_color
					&:hover
						color: $grey
			svg
				.stripe1
					fill: $grey_color !important
			.email, .adress_wrapper span, .phones_wrapper span
				color: $grey_color !important
	.menu_column
		width: 22%
		&:last-child
			padding-left: 30px
		.title
			font-weight: 500
			line-height: 20px
			text-transform: uppercase
			margin-bottom: 20px
			display: block
		ul
			width: 100%
			height: auto
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
			li
				color: $grey
				margin-bottom: 5px
				line-height: 32px
				&:hover
					color: $color
				&:last-child
					margin-bottom: 0
		.phones_wrapper
			width: 100%
			height: auto
			position: relative
			margin-bottom: 20px
			.callback
				cursor: pointer
			&:hover
				.hidden_list
					display: block
			.thePhoneIcon
				position: absolute
				top: 0
				left: -30px
				.stripe1
					fill: $color
			span
				font-weight: 500
				font-size: 9px
				line-height: 11px
				color: $color
				text-transform: uppercase
			.single_phone_wrapper
				width: auto
				height: auto
				display: flex
				flex-direction: row
				position: relative
				.phone
					position: relative
					display: flex
					flex-direction: row
					align-items: center
					font-weight: 600
					.theCarretDownIcon
						width: 7px
						position: absolute
						right: -20px
						.stripe1
							fill: $color
			.hidden_list
				padding: 8px 10px
				background-color: $grey_color
				display: none
				position: absolute
				left: 0
				top: 100%
				width: 100%
				z-index: 50
				.single_phone_wrapper
					padding: 6px 0
		.mail_wrapper
			width: 100%
			height: auto
			position: relative
			margin-bottom: 16px
			display: flex
			flex-direction: row
			align-items: center
			.email
				color: $grey
				line-height: 32px
				position: relative
			.theMailIcon
				width: 16px
				height: auto
				position: absolute
				left: -27px
				.stripe1
					fill: $color
		.adress_wrapper
			width: 100%
			height: auto
			position: relative
			.theMapMarkerIcon
				position: absolute
				left: -24px
				.stripe1
					fill: $color
			span
				color: $grey

.wpdreams_asl_container
	width: 70% !important
	height: 56px
	background-image: none
	border-radius: 4px
	border: 1px solid #E5E5E5
	background-color: transparent
	padding: 0
	margin: 0
	position: relative
	.probox
		width: 100%
		height: 100%
		padding: 0 120px 0 20px
		margin: 0
		background-color: transparent
		background-image: none
		display: flex
		flex-direction: row
		align-items: center
		position: relative
		.promagnifier
			width: 50px
			height: 100%
			background-color: transparent
			background-image: none
			position: absolute
			right: 0
			display: flex
			justify-content: center
			align-items: center
			.innericon
				width: 100%
				height: 100%
				display: flex
				justify-content: center
				align-items: center
				svg
					width: 30px
					height: auto
					path
						fill: $grey_color
		.proinput
			width: 100%
			height: 100%
			form
				width: 100%
				height: 100%
				.orig
					width: 100%
					height: 100%
					font-size: 16px
					line-height: 20px
					display: flex
					flex-direction: row
					align-items: center
					padding: 0 19px
					color: $color
					border: none
					top: -1px
					&::placeholder
						color: $grey
		.proclose
			width: 40px
			height: 100%
			position: absolute
			right: 50px
			cursor: pointer
			svg
				background: $color
				border-radius: 50%
				position: absolute
				top: 50%
				width: 20px
				height: 20px
				margin-top: -10px
				left: 50%
				margin-left: -10px
				fill: #fefefe
				padding: 4px


div.asl_r.vertical
	padding: 0

.resdrg
	background-color: $white
	.item
		.asl_content
			overflow: hidden
			width: 100%
			height: auto
			background: transparent
			margin: 0
			display: flex
			flex-direction: row
			align-items: center
			padding: 8px 10px
			.asl_image
				margin-right: 38px
			h3
				margin: 0
				padding: 0
				display: inline
				line-height: inherit
				.asl_res_url
				.overlap
			.etc
			.asl_desc
				margin-top: 4px
				font-size: 12px
				line-height: 18px

.ovf_hidden
	overflow: hidden !important


.modal_search_wrapper
	width: 100%
	height: 136px
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	top: -110%
	left: 0
	background-color: $white
	z-index: 101
	color: $grey
	transition: top .3s ease-in-out
	.ms_wrapper
		width: 1160px
		margin: 0 auto
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		position: relative
		.button
			width: 128px
			height: 52px
		.close_search_popup
			width: auto
			height: auto
			cursor: pointer
			position: absolute
			right: -50px
			.theCloseMenuIcon
				width: 25px
				height: auto
				.stripe1
					fill: $grey_color
		.wpdreams_asl_container
			width: 100%!important
			border: none
			.promagnifier
				background-color: $accent
				width: 128px
				display: flex
				justify-content: center
				align-items: center
				border-radius: 4px
				overflow: hidden
				border: 1px solid $accent
				&:hover
					background-color: transparent
					&:before
						color: $accent
				&:before
					content: 'НАЙТИ'
					display: block
					color: $white
					position: absolute
				svg
					display: none
			.proclose
				right: 133px
				z-index: 101

.popup
	width: 570px
	height: auto
	border: 1px solid #909AAA
	background-color: $white
	padding: 5.5vh 5.4vw
	position: fixed
	top: 10%
	left: 50%
	margin-left: -285px
	z-index: 101
	text-align: center
	.close_callback_popup
		position: absolute
		background-color: $close_bg
		cursor: pointer
		width: 40px
		height: 40px
		display: flex
		justify-content: center
		align-items: center
		top: 0
		right: 0
		.theCloseMenuIcon
			width: 20px
			height: auto
			.stripe1
				fill: $white
	.main_content, .alert_done
		width: 100%
		height: auto
		.h2_title
			margin-bottom: 3vh
			font-weight: bold
			font-size: 32px
			line-height: 39px
			text-align: center
			text-transform: uppercase
		.desc
			font-size: 18px
			line-height: 28px
			color: $grey
			margin-bottom: 3vh
			&.thank
				margin-bottom: 0
		.form_wrapper
			width: 100%
			height: auto
			display: block
			text-align: center
			input, textarea
				width: 100%
				height: 56px
				background-color: #EFEEEE
				margin-bottom: 3vh
				padding: 0 20px
				border: none
				color: $color
				&::placeholder
					color: $grey
			textarea
				height: 130px
				margin-bottom: 3vh
				padding: 14px 20px
				resize: none
			.button
				width: 100%
				max-width: none
				font-weight: bold

.mp_header
	width: 100%
	height: auto
	padding: 180px 0 227px
	background-size: cover
	background-repeat: no-repeat
	background-position: top
	.main_wrapper
		position: relative
		color: $white
		.theQuoteIcon
			width: 27px
			height: auto
			position: absolute
			left: -160px
			top: 20px
		.pretitle
			font-weight: 500
			font-size: 9px
			line-height: 11px
			text-transform: uppercase
			margin-bottom: 25px
		.h1_title
			font-weight: 500
			font-size: 40px
			line-height: 49px
			margin-bottom: 50px
		.content
			width: 80%
			margin-right: auto
			font-weight: 500
			font-size: 15px
			line-height: 27px
			margin-bottom: 50px
		.button
			width: 176px
			height: 48px
			&:hover
				border-color: $white
				color: $white

.production
	width: 100%
	height: auto
	padding: 57px 0 114px
	.main_wrapper
		position: relative

.title_line
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	margin-bottom: 53px
	.h2_title
		font-size: 30px
		line-height: 37px
	.remark
		display: block
		font-size: 10px
		color: $grey
		margin-bottom: 0



.the_production_list
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	.item_wrapper
		width: 300px
		height: 224px
		background: #FFFFFF
		border: 1px solid #E5E5E5
		text-align: center
		overflow: hidden
		position: relative
		z-index: 1
		transition: all .1s ease-in-out
		&:hover
			box-shadow: 0 0 24px rgba(0, 0, 0, 0.16)
			z-index: 2
			border-color: transparent
		.thumbnail
			width: 100%
			height: 155px
			margin-bottom: 10px
			background-size: contain
			background-position: center
			background-repeat: no-repeat
			overflow: hidden
		.title
			font-weight: 500
			line-height: 20px
			text-align: center

.our_service
	background-color: $alter_bg
	padding: 80px 0
	.main_wrapper
		display: flex
		flex-direction: row
		justify-content: space-between
		.left_part
			width: 220px
			position: relative
			.h2_title
				font-weight: 500
				font-size: 30px
				line-height: 37px
				margin-bottom: 55px
			.dots_list
				width: 100%
				height: auto
				padding-left: 22px
				margin-bottom: 40px
				.dots_item
					width: 100%
					margin-bottom: 24px
					font-weight: 500
					line-height: 20px
					cursor: pointer
					position: relative
					display: flex
					flex-direction: row
					align-items: center
					color: $grey
					&:last-child
						margin-bottom: 0
					&.active
						color: $accent
						&:before
							content: ''
							display: block
							position: absolute
							height: 100%
							width: 2px
							background-color: $accent
							left: -20px
					&:hover
						color: $accent
			.remark
				font-size: 10px
				color: $accent
		.right_part
			width: 900px
			height: auto
			position: relative
			.our_service_carousel_navs
				width: auto
				height: auto
				display: flex
				flex-direction: row
				position: absolute
				top: 48px
				right: 37px
				z-index: 2
				.navs
					width: 20px
					height: 20px
					background: transparent
					border-radius: 2px
					display: flex
					align-items: center
					justify-content: center
					cursor: pointer
					&:hover
						background-color: $accent
						svg
							.stripe1
								fill: $white
					&.our_service_carousel_left_nav
						margin-right: 20px
					svg
						width: 6px
						height: auto
						display: block
						.stripe1
							fill: $grey_color
			.our_service_carousel
				width: 100%
				height: auto
				z-index: 1
				.our_service_item
					width: 100%
					height: auto
					padding: 40px 0 0
					background-color: $white
					.top_part
						padding: 0 70px 40px 40px
						display: flex
						flex-direction: row
						justify-content: space-between
						height: 270px
						overflow: hidden
						.image_wrapper
							width: 240px
							height: 140px
							background-position: center
							background-size: cover
							background-repeat: no-repeat
							overflow: hidden
							position: relative
						.content_wrapper
							width: 520px
							.h3_title
								font-weight: 500
								font-size: 26px
								line-height: 32px
								margin-bottom: 30px
							.content
								font-size: 15px
								line-height: 27px
								color: $grey
					.button
						border-radius: 0
						font-weight: 500
						font-size: 10px
						line-height: 12px
						align-items: center
						svg
							width: 8px
							height: auto
							display: block
							margin-left: 12px
							position: relative
							top: -1px
							.stripe1
								fill: $white
						&:hover
							background-color: $accent
							opacity: .8
							color: $white

.about_organization
	width: 100%
	height: auto
	.inner_wrapper
		height: auto
		width: 1560px
		margin-left: auto
		display: flex
		flex-direction: row
		justify-content: space-between
		.left_part
			width: 37%
			padding-top: 50px
			.h2_title
				font-size: 30px
				line-height: 42px
				margin-bottom: 30px
			.desc
				font-size: 15px
				line-height: 25px
				color: $grey
				margin-bottom: 90px
			.buttons_line
				width: 100$accent
				height: auto
				display: flex
				flex-direction: row
				align-items: center
				.button
					margin-right: 32px
					width: 176px
				.simple_button
					margin-right: 0
					width: 254px
		.video_wrapper
			width: 60%
			height: 550px
			iframe
				width: 100%
				height: 100%

.remark
	font-weight: 500
	font-size: 9px
	line-height: 11px
	text-transform: uppercase
	margin-bottom: 25px
	display: block

.news
	width: 100%
	height: auto
	background-color: $alter_bg
	padding: 80px 0
	.main_wrapper
		.title_line
			.h2_title
				margin-right: 70px
			.simple_link_wrapper
				margin-right: auto
				display: flex
				flex-direction: row
				align-items: center
				cursor: pointer
				text-transform: uppercase
				font-weight: 500
				font-size: 10px
				line-height: 12px
				color: $grey
				&:hover
					color: $accent
					.thePlainIcon
						.stripe1
							fill: $accent
			.thePlainIcon
				margin-right: 20px

		.preview_list, .alm-reveal
			width: 100%
			height: auto
			display: flex
			flex-direction: row
			justify-content: space-around
			margin-bottom: 30px
			flex-wrap: wrap

		.alm-btn-wrap
			width: 100%
			height: auto
			padding: 20px 0 0
			margin: 0

.ajax-load-more-wrap
	width: 100%
	height: auto
	.alm-reveal
		width: 100%
		height: auto
		margin-bottom: 0 !important
		.preview_item
			margin-bottom: 30px

.big_preview_item
	width: 48%
	height: 380px
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	position: relative
	.content
		width: 50%
		height: 230px
		padding: 24px 24px 50px
		position: absolute
		right: 0
		bottom: 0
		background-color: $white
		overflow: hidden
		.category
			font-weight: 500
			font-size: 9px
			line-height: 11px
			text-transform: uppercase
			color: $grey
			margin-bottom: 24px
		.title
			font-size: 18px
			line-height: 22px
		.date
			font-size: 12px
			line-height: 15px
			color: $grey
			position: absolute
			bottom: 24px
			left: 24px

.preview_item
	width: 24%
	height: 380px
	.thumbnail
		width: 100%
		height: 150px
		background-position: center
		background-size: cover
		background-repeat: no-repeat
	.content
		height: 230px
		background-color: $white
		padding: 24px 24px 50px
		position: relative
		.category
			font-weight: 500
			font-size: 9px
			line-height: 11px
			text-transform: uppercase
			color: $grey
			margin-bottom: 24px
		.title
			font-size: 18px
			line-height: 22px
		.date
			font-size: 12px
			line-height: 15px
			color: $grey
			position: absolute
			bottom: 24px
			left: 24px


.chiefs
	width: 100%
	height: auto
	padding: 80px 0
	position: relative
	&:after
		content: ''
		display: block
		width: 95%
		height: 1px
		background-color: rgba(229, 229, 229, 0.5)
		position: absolute
		bottom: 0
		left: 2.5%
	.main_wrapper
		.title_line
		.carousel_wrapper
			width: 100%
			height: auto
			position: relative
			.chiefs_carousel_navs
				width: 100%
				height: 0
				position: absolute
				left: 0
				display: flex
				flex-direction: row
				justify-content: space-between
				z-index: 2
				top: 50%
				margin-top: -20px
				.navs
					width: 40px
					height: 40px
					background-color: $white
					display: flex
					justify-content: center
					align-items: center
					cursor: pointer
					&:hover
						background-color: $accent
						svg
							.stripe1
								fill: $white
					svg
						width: 8px
						.stripe1
							fill: $grey_color
			.chiefs_carousel
				z-index: 1
				.carousel_item
					height: 384px
					background-repeat: no-repeat
					background-size: cover
					background-position: center
					color: $white
					position: relative
					overflow: hidden
					&:hover
						.hidden_part
							bottom: 0
						.visible_part
							top: 40px
					.visible_part
						padding: 0 40px
						position: absolute
						width: 100%
						left: 0
						top: 260px
						transition: top .3s ease-in-out
						.position
							font-weight: 500
							font-size: 12px
							line-height: 15px
							text-transform: uppercase
							margin-bottom: 20px
						.name
							font-weight: 500
							font-size: 18px
							line-height: 22px
							margin-bottom: 40px
					.hidden_part
						position: absolute
						width: 100%
						height: auto
						left: 0
						bottom: -100%
						transition: bottom .3s ease-in-out
						.phone
							font-weight: 500
							font-size: 18px
							line-height: 22px
							padding: 0 40px 40px
							.phone_title
								font-style: normal
								font-weight: 500
								font-size: 12px
								line-height: 15px
								margin-bottom: 12px
							.number
								br
									margin-bottom: 10px
						.button
							width: 100%
							border-radius: 0
							&:hover
								background-color: $accent
								color: $white
								opacity: .8

.partners
	padding: 65px 0 35px
	.main_wrapper
		.carousel_wrapper
			width: auto
			height: auto
			position: relative
			.partners_carousel_navs
				position: absolute
				width: 100%
				height: 0
				top: 50%
				margin-top: -20px
				left: 0
				display: flex
				flex-direction: row
				justify-content: space-between
				z-index: 2
				cursor: pointer
				.navs
					width: 40px
					height: 40px
					background-color: $white
					display: flex
					justify-content: center
					align-items: center
					cursor: pointer
					&:hover
						background-color: $accent
						svg
							.stripe1
								fill: $white
					svg
						width: 8px
						.stripe1
							fill: $grey_color
			.partners_carousel
				width: 100%
				height: auto
				position: relative
				z-index: 1
				.carousel_item
					width: auto
					height: 196px
					display: flex
					justify-content: center
					align-items: center
					img
						display: block
						width: auto
						height: auto
						max-width: 80%
						max-height: 80%

.contacts
	width: 100%
	height: auto
	background-color: $alter_bg
	.inner_wrapper
		width: 80%
		margin-left: auto
		display: flex
		flex-direction: row
		justify-content: space-between
		.left_part
			width: 38%
			padding: 50px 0 30px
			.adress_wrapper
				font-size: 30px
				line-height: 42px
				padding-bottom: 35px
				border-bottom: 1px solid #E5E5E5
				margin-bottom: 40px
			.phones_wrapper
				display: flex
				flex-direction: row
				justify-content: space-between
				flex-wrap: wrap
				.ph_wrap
					width: 48%
					margin-bottom: 10px
				.title
					font-weight: 500
					font-size: 9px
					line-height: 11px
					text-transform: uppercase
					margin-bottom: 10px
				.phone_list
					width: 100%
					height: auto
					margin-bottom: 14px
					li
						width: 100%
						display: flex
						flex-direction: row
						margin-bottom: 10px
						align-items: flex-end
						&:last-child
							margin-bottom: 0
						.type
							font-size: 12px
							margin-right: 8px
							position: relative
							top: -4px
						.number
							font-size: 15px
							line-height: 25px
			.wrapper
				width: 100%
				height: auto
				display: flex
				flex-direction: row
				justify-content: space-between
				margin-bottom: 50px
				.email_wrapper, .skype_wrapper
					width: 48%
					font-size: 15px
					line-height: 25px
					.title
						font-weight: 500
						font-size: 9px
						line-height: 11px
						margin-bottom: 10px
						text-transform: uppercase
		.button
			width: 235px
			font-size: 12px
			background-color: transparent
			&:hover
				background-color: $accent
				color: $white
		.right_part
			width: 61%
			height: 634px
			position: relative
			overflow: hidden
			iframe
				width: 100%
				height: 100%

.main
	padding: 64px 0 80px
	.main_content_wrapper
		width: 100%
		height: auto
		display: flex
		flex-direction: row
		justify-content: space-between
		.sidebar
			width: 23%
		.the_content_wrapper
			width: 75%




.h1_wrapper
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	margin-bottom: 64px
	.h1_title
		width: 90%
	.print_wrapper
		cursor: pointer
		.thePrintIcon
			.stripe1
				fill: $grey

.h1_title
	font-weight: 500
	font-size: 30px
	line-height: 37px


.sidebar
	display: flex
	flex-direction: column
	.sidebar_menu_wrapper
		width: 100%
		height: auto
		display: flex
		flex-direction: column
		border: 1px solid #E5E5E5
		margin-bottom: 64px
		.menu-item
			width: 100%
			height: auto
			border-bottom: 1px solid #E5E5E5
			min-height: 64px
			display: flex
			flex-direction: row
			align-items: center
			position: relative
			color: $grey
			a
				display: block
				width: 100%
				height: 100%
				padding: 22px
			&:hover
				color: $accent
			&.current-menu-item
				color: $accent
			&.menu-item-has-children
				display: flex
				flex-direction: column
				padding: 10px 22px
				a
					display: block
					margin-bottom: 4px
				.sub-menu
					display: inline
					.menu-item
						display: inline
						border-bottom: none
						font-size: 14px
						&:last-child
							a
								&:after
									content: ''
						a
							display: inline
							&:after
								content: ','
				a
					padding: 0
				&:after
					content: url('../img/ang_right.svg')
					display: block
					position: absolute
					right: 20px
					transform: rotate(90deg)
			&:last-child
				border-bottom: none
	.need_konsult_wrapper
		border: 1px solid #E5E5E5
		padding: 46px 16px 0
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		color: $grey
		.theMailBigIcon
			margin-bottom: 47px
		.title
			font-weight: 500
			font-size: 20px
			line-height: 24px
			margin-bottom: 20px
			width: 70%
		.desc
			font-size: 15px
			line-height: 25px
			padding-bottom: 40px
			width: 80%
		.link
			border-top: 1px solid #E5E5E5
			height: 48px
			width: 100%
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer
			color: $color
			font-weight: 500
			font-size: 10px
			line-height: 12px
			text-transform: uppercase


.the_content
	width: 100%
	height: auto
	color: $color
	font-size: 15px
	line-height: 25px
	margin-bottom: 30px
	h2, h3
		font-weight: bold
		font-size: 15px
		line-height: 25px
		margin-bottom: 30px
	p
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
	iframe
		display: block
		width: 100%
		height: 400px
		margin-bottom: 30px
	ul
		display: block
		width: 100%
		height: auto
		padding: 0 0 0 26px
		margin-bottom: 30px
		li
			width: 100%
			height: auto
			display: flex
			flex-direction: row
			align-items: center
			position: relative
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
			&:before
				content: ''
				width: 8px
				height: 8px
				border-radius: 50%
				background-color: $accent
				position: absolute
				left: -24px
				display: block
	img
		display: block
		margin: 0 auto 30px
		width: auto
		height: auto
		max-width: 100%
	a
		font-weight: 600
		color: $black
		text-decoration: underline
.inner_page_top
	width: 100%
	height: auto
	margin-bottom: 50px
	.page_top_image_wrapper
		width: 100%
		height: 330px
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		margin-bottom: 25px
	.perk_line
		width: 100%
		height: auto
		display: flex
		flex-direction: row
		align-items: center
		font-size: 12px
		line-height: 15px
		color: $grey
		.date
			margin-right: 40px

.fotogalary_wrapper
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	justify-content: space-around
	flex-wrap: wrap
	margin-bottom: 30px
	&.full_page
		.image_item
			width: 24%
	.image_item
		width: 32%
		height: 168px
		margin-bottom: 32px
		background-position: top
		background-size: cover
		background-repeat: no-repeat

.files_list
	width: 100%
	height: auto
	margin-bottom: 30px
	.file_item
		width: 100%
		height: auto
		padding: 30px 40px
		display: flex
		flex-direction: row
		align-items: center
		border: 1px solid #E5E5E5
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
		svg
			width: 44px
			height: auto
			margin-right: 25px
		.info_wrapper
			width: 80%
			height: auto
			.filename
				font-size: 18px
				line-height: 28px
				margin-bottom: 7px
				text-transform: uppercase
				display: block
				width: auto
			.filesize
				font-size: 15px
				line-height: 18px
				color: #838383
		.download
			margin-left: auto
			width: 32px
			height: 32px
			border: 1px solid #E5E5E5
			display: flex
			justify-content: center
			align-items: center
			cursor: pointer
			svg
				display: block
				margin-right: 0
				width: auto
				height: 70%
				.stripe1
					fill: $grey_color
			&:hover
				background-color: $footer_bg
				.stripe1
					fill: $white

.back_to_list
	width: auto
	height: auto
	display: flex
	flex-direction: row
	align-items: center
	svg
		margin-right: 8px
@import "media"